/* Google Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.font-avenir {
  font-family: "Avenir", sans-serif;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-helvetica {
  font-family: "Helvetica", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}