@import "./fonts.css";
/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
html,
body {
  @apply scroll-smooth;
  padding: 0;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  background-color: #fbfbfb;
}

@layer base {
  .transition-500 {
    @apply transition duration-500 ease-in-out;
  }
}

/* Custom Tailwind Component Layer */
@layer components {
  .msmf__cta-btn {
    @apply bg-msmf-base rounded px-8 py-2 text-white flex justify-center items-center; /* Root Style */
    @apply hover:bg-msmf-dark hover:shadow-lg; /* OnHover Style */
    @apply transition-500 /* Transitions */;
    @apply sm:text-[19px] 2xl:text-[23px] /* Responsive */;
  }
  .msmf__secondary-btn {
    @apply bg-transparent rounded px-8 py-2 text-[#171717] border border-[#171717] flex justify-center items-center; /* Root Style */
    @apply hover:bg-[#171717] hover:text-white; /* OnHover Style */
    @apply transition-500; /* Transitions */
    @apply sm:text-[19px] 2xl:text-[23px]; /* Responsive */
  }
  .msmf__nav-bar {
    @apply h-32 flex w-full justify-between items-center px-12;
  }
  .msmf__nav-bar-bg {
    @apply bg-msmf-base;
  }
  .msmf__nav-list {
    @apply justify-between text-lg flex items-center w-10/12;
  }
  .msmf__nav-top {
    @apply absolute top-0 left-0 z-50;
  }
  .msmf__nav-item {
    @apply text-white uppercase cursor-pointer py-2;
    @apply hover:font-extrabold hover:border-b-2 hover:border-white;
    @apply transition-500;
  }
  .msmf__nav-cta {
    @apply text-white uppercase cursor-pointer px-4 py-3 border rounded border-white;
    @apply hover:bg-white hover:text-msmf-dark hover:ring-2 hover:ring-gray-900/5;
    @apply transition-500;
  }
  .nav-active::before {
    content: " ";
    position: absolute;
    width: 30px;
    height: 4px;
    background: white;
    top: 0px;
    @apply rounded;
  }
  .image-overlay {
    background: linear-gradient(
      180deg,
      rgba(0, 39, 80, 0.68) 0%,
      rgba(0, 25, 51, 0.68) 100%
    );
    @apply absolute top-0 left-0 w-screen;
  }
  .msmf__content-card {
    @apply bg-white border-t-8 shadow-md rounded;
    @apply my-8 px-16 pb-14 pt-10;
  }

  .timeline {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }

  .timeline::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  .timeline-container {
    @apply px-10 w-6/12 relative;
  }

  /* Place the container to the left */
  .left {
    left: 0;
  }

  /* Place the container to the right */
  .right {
    left: 50%;
  }

  .left::before {
    content: "";
    height: 2px;
    position: absolute;
    top: 40px;
    width: 40px;
    z-index: 1;
    right: 0%;
    background-color: black;
  }

  .right::before {
    content: "";
    height: 2px;
    position: absolute;
    top: 40px;
    width: 40px;
    z-index: 1;
    left: 0%;
    background-color: black;
  }

  .carousel-indicators [data-bs-target] {
    @apply mx-3;
    width: 8px !important;
    height: 8px !important;
    border-radius: 9999px;
    border: 1px solid white;
    background: transparent;
  }

  .carousel-indicators .active {
    background-color: #fff;
  }
  .accordion-button {
    border: none;
  }
  .footer-bg {
    background: url("/assets/images/Common/Footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
