@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom components styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
html,
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.font-avenir-book {
  font-family: "AvenirLTPro-Book", sans-serif;
}

.font-inter-regular {
  font-family: "Inter", sans-serif;
}

.font-inter-medium {
  font-family: "Inter-Medium", sans-serif;
}
.font-inter-semibold {
  font-family: "Inter-SemiBold", sans-serif;
}
.font-inter-bold {
  font-family: "Inter-Bold", sans-serif;
}
.font-rubik-medium {
  font-family: "Rubik-Medium", sans-serif;
}
.font-roboto-light {
  font-family: "Roboto-Light", sans-serif;
}
.font-roboto-medium {
  font-family: "Roboto-Medium", sans-serif;
}
.font-roboto-bold {
  font-family: "Roboto-Bold", sans-serif;
}
.font-avenir-heavy {
  font-family: "AvenirLTPro-Heavy", sans-serif;
}
.font-arial {
  font-family: Arial, Helvetica, serif;
}

.MuiTab-root {
  font-family: "Inter-SemiBold", sans-serif;
}
.MuiTab-wrapper {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 18px;
  text-transform: capitalize !important;
}

.active-nav {
  color: red;
}
